body {
    background-color: yellow;
    background-image: url(https://i.gifer.com/4M5E.gif);
}

.heading {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    border: 1px solid yellow;
    padding: 30px;
    background-image: linear-gradient(red, orange, yellow);
}

h2 {
    text-align: left;
    font-size: 50px;
}

h3 {
    font-style: italic;
}

a {
    border: 1px solid darkorange;
    border-radius: 20px;
    background-image: linear-gradient(rgb(168, 2, 2), rgb(253, 100, 100));
    color: black;
    font-size: 20px;
    padding: 25px;
    cursor: pointer;
}

a:hover {
    background-image: linear-gradient(rgb(4, 192, 41), rgb(187, 253, 125));
}

.container {
    display: grid;
    grid-template-columns: 625px 400px 300px;
}

#ing {
    text-align: center;
}

hr {
    color: greenyellow;
}

li {
    border: 1px solid gold;
    border-radius: 30px;
    width: fit-content;
    background-color: gold;
    text-align: left;
}

#steps {
    border: 1px solid yellow;
    background-image: linear-gradient(red, orange, yellow);
    padding: 30px;
}

.container-2 {
    display: grid;
    grid-template-columns: 600px 180px 600px;
}

#s-1, #n-1, #s-2, #n-2, #s-3, #n-3, #s-4, #n-4, #s-5, #n-5, #s-6, #n-6 {
    font-weight: bold;
    text-align: center;
}

.step-1, .step-2, .step-3, .step-4, .step-5, .step-6 {
    border: 1px solid yellow;
    background-image: linear-gradient(greenyellow, yellow);
    border-radius: 10px;
    font-family:  Verdana;
}


#n-1, #n-2, #n-3, #n-4, #n-5, #n-6 {
    color: darkblue;
}

@media (max-width: 1400px){
    body {
        text-align: center;
    }
    .heading {
        grid-template-columns: 1fr;
        text-align: center;
        color: black;
        font-family: Impact;
        border: 20px round black;
    }

    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    .container-2 {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

}